
html {
  height: 100%;
  overflow-y: hidden !important;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
  overflow: hidden;
  font-family: CenturyGothic, sans-serif;
  color: #322E0C;
}

p {
  font-size: 16px;
  color: #322E0C;
}

hr {
  border: 2px solid #E2E2E2;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #322E0C;
}

h2 {
  font-weight: bold !important;
}

h3 {
  font-size: 32px;
  font-weight: normal;
  color: #322E0C;
}

h4 {
  font-size: 16px;
}

a{
  color: #000000;
  text-decoration: none !important;
  font-size: 17px;
  font-weight: bold;

}


input{
  outline: 0;
}

.view-wrapper, .ui-wrapper {
  height: 100% !important;
}

.view-wrapper {
  overflow-y: auto;
  background-color: #EFEFEF;
}

.fanzee-header {
  height: 28px;
  background-color: #1CC3EA;
  line-height: 22px;
  padding-right: 10px;
  border-bottom: 2px solid #1CC3EA;
  border-top: 2px solid #1CC3EA;
}

.fanzee-header i, .fanzee-header p {
  display: inline !important;
}

.fanzee-header p {
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  vertical-align: middle;
}

.fanzee-header i {
  font-size: 18px;
  padding-left: 5px;
  vertical-align: middle;
  color: #F9F9F9;
}

.fanzee-header img{
  display: inline !important;
  height: 20px;
  padding-left: 2px;
  vertical-align: middle;
  padding-top: 3px;
 
}

.side-menu {
  height: 100%;
  text-align: left !important;
}

.side-nav-item {
float: left;
width: 100%;
text-align: left !important;
font-size: 16px;
color: #322E0C !important;
}

.side-nav-item md-icon {
  font-size: 22px;
  margin-left: 10px !important;
  text-align: center;
  border-radius: 7px !important;
  opacity:0.8;
  background-color: #1CC3EA !important;
}

.side-nav-item:hover md-icon {
  background-color: #108FAD !important;
}

/* view/state animation
[ui-view].ng-enter {
  -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}
*/

.teal {
color: #1CC3EA !important;
}

.yellow {
  color: #F9E63D !important;
}

.green {
  color: #108FAD !important;
}

.danger {
  color: #ff0000 !important;
  font-weight: bold;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave,
.animate-repeat.ng-show,
.animate-repeat.ng-hide {
  transition: all .2s ease-in-out;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-hide {
  opacity: 0;
  height: 0;
  min-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  min-height: 62px;
  height: 62px;
}

.animate-repeat.ng-leave-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  transition-duration: 0s;
}

/**
 * Stagger ENTER ANIMATION
 */
.animate-repeat.ng-enter-stagger {
  /* this will have a 100ms delay between each successive enter animation */
  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  transition-duration: 0s;
}


/*photo upload*/
.actions { margin: 20px 0; }
.upload_link { color: #000; border: 1px solid #aaa; background-color: #e0e0e0;
    font-size: 18px; padding: 5px 10px; width: 250px; margin: 10px 0 20px 0;
    font-weight: bold; text-align: center; text-decoration: none; margin: 5px; }

.photo { margin: 10px; padding: 10px; border-top: 2px solid #ccc; }
.photo .thumbnail { margin-top: 10px; display: block; max-width: 200px; border: none; }
.toggle_info { margin-top: 10px; font-weight: bold; color: #e62401; display: block; }
.thumbnail_holder { height: 182px; margin-bottom: 5px; margin-right: 10px; }
.info td, .uploaded_info td { font-size: 12px }
.note { margin: 20px 0}

.inline { display: inline-block; }
td { vertical-align: top; padding-right: 5px; }

#direct_upload_jquery, #direct_upload { padding: 20px 20px; margin: 0px;
    border-top: 1px solid #ccc; border-bottom: 1px solid #eaeaea; opacity: 0.8;}

#direct_upload_jquery h1, #direct_upload h1 { margin: 0 0 15px 0; }

.back_link { font-weight: bold; display: block; font-size: 16px; margin: 10px 0; }

#direct_upload, #direct_upload_jquery { border: 4px dashed #ccc; }
#direct_upload.dragover { border-color: #1CC3EA; }
#direct_upload.dragover-err { border-color: #c00; }

.upload_details { font-size: 12px; margin: 20px; border-top: 1px solid #ccc; word-wrap: break-word; }

.progress-bar{
  width: 100px;
  position: relative;
  height: 4px;
}
.progress-bar .progress{
  height: 4px;
  background-color: #ff0000;
  width: 0;
}
.preview img, .preview audio, .preview video {
    max-width: 300px;
    max-height: 150px;
    width: auto;
    height: auto;
}

/* Auth0 login styling */
#a0-lock.a0-theme-default .a0-panel .a0-icon-container {
  background-color: #000000;
  color: #FFFFFF;
}


/*Hide auth0 logo in login*/
.a0-footer{
  display: none !important;
}

/*Share card*/

.card, .share-card {
  background-color: #FFFFFF;
  border: 2px solid #CCC;
  border-radius: 4px;
  margin: 0;
    position: relative;
    width: 100%;
    max-width: 600px;
}

.share-card .card-body, .feed-card .card-body {
  padding: 0px 10px 5px 10px;
}

.share-card h4, .feed-card h4 {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 2px solid #efefef;
  padding-bottom: 2px;
}

.share-card p {
  padding-left: 5px;
}

.share-card .card-header p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.feed-card p {
  text-align: left;
}

.share-card .card-img-top {
  border-radius: 5px;
  box-shadow: 2px 2px 1px #E8E8E8;
  max-width: 100%;
}

.share-card .image-wrapper, .feed-card .image-wrapper {
  max-width: 50%;
  float: left;
  padding: 0px 10px 3px 0px;
}

.share-card .image-wrapper img, .feed-card .image-wrapper img {
  max-height: 100px;
  border-radius: 5px;
  max-width: 100%;
}

.share-card textarea {
  width: 100%;
  border-radius: 3px;
  padding: 5px !important;
  resize: none;
  border-color: #CCC;
}

.share-card .list-group-item {
  border: none;
}

.share-card .list-group-item h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #757575;
  font-weight: bold;
}

.share-card .list-group-item .btn {
  margin: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.share-card .card-footer {
  padding-top: 5px;
  font-size: 17px;
  border-top: 2px solid #EFEFEF;
  margin-top: 25px;
  font-weight: bold;
  color: #b9b9b9;
}

.share-card .card-footer .col {
  padding-bottom: 10px;
  padding-top: 8px;
}

.share-buttons {
  width: 100% ;
  padding: 10px 0px 3px 10px;
  font-weight: bold;
  text-align: right;
  height: 30px;
}

.share-buttons span {
  font-size: 17px;
}

.share-buttons .btn {
  font-weight: bold;
}

.share-buttons .btn i {
  padding-right: 5px;
  color: #FFFFFF !important;
}

.share-buttons .btn .fa-linkedin, .share-buttons .btn .fa-facebook {
  vertical-align: text-top !important;
}

.card-top {
  width: 100%;
  overflow: overlay;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 5px 15px 15px 15px;
  word-wrap: break-word;
}

.feed-card .card-top{
  border: none;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.dropdown-menu .fa {
  float: left;
  padding-top: 2px;
}

.dropdown-menu li a {
  text-align: center !important;
}

.btn-primary {
  border: none;
}

.btn-primary:hover {
  border: none;
}

.btn-secondary {
  color: #6b6b6b;
}

.card-header {
  border-radius: 5px 5px 0 0;
  height: auto;
  min-height: 48px;
}

.card-header .md-avatar {
  height: 30px;
  margin-top: 6px;
  margin-bottom: 7px;
  width: 30px;
  border-radius: 5px !important;
  margin-right: 10px;
  border: 2px solid white;
}

.card-header md-list-item, .card-header md-list-item::before, .card-header md-list-item .md-list-item-inner::before {
  min-height: 42px !important;
}

.card-header, .card-header i, .card-header p, .card-header .md-select-icon {
  color: #FFFFFF !important;
  font-weight: bold;
  padding: 0 5px 0 5px;
  font-size: 16px;
}

 .card-header p {
  font-size: 14px;
 }

.card-header i {
  padding-right: 8px !important;
}

.card-header .fa-linkedin {
  vertical-align: top !important;
}

.card-header .md-select-icon {
  text-align: center;
  top: 3px;
  }

.card-header md-input-container {
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 5px;
}

.card-link {
  margin-bottom: 0px !important;
  font-weight: bold;
  color: #BBB;
    white-space: nowrap !important;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 0px !important;
}

.md-select-value {
  border-bottom: none !important;
  color: #FFFFFF !important;
}

md-select-menu md-content md-option[selected], md-select-menu md-content md-option  {
  color: #333 !important;
}

.wave-spinner div{
  background-color: #1CC3EA;
}

.char-count {
  padding-right: 15px;
  color: #757575;
}

.brand-data{
  background-color: #FFFFFF;
  display: block;
  text-align: center;
  border: 2px solid #CCC;
  border-radius: 7px;
  padding: 25px 25px 0 25px;
}

.brand-data h3 {
  padding: 0px 0px 10px 0px;
}

.brand-data h3 i {
  opacity: 0.8;
  color: #1CC3EA;
  vertical-align: middle;
  padding-right: 5px;
  font-size: 18px;
}

.brand-data img {
  height: 75px;
  width: auto;
  border-radius: 5px;
}

.brand-data h3 {
  font-size: 17px;
  font-weight: bold;
}

.brand-data p {
  font-weight: bold;
  font-size: 13px;
  color: #757575;
}

.brand-data .btn-primary {
  border-radius: 3px;
  background-color: #1CC3EA;
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}

/*Auth0*/
#a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-image img {
  border-radius: 5px !important;
}

.app-link {
  color: #b9b9b9;
  font-size: 14px;
}

.app-link i {
  font-size: 22px;
  vertical-align: bottom;
  padding-right: 3px;
}

.app-link-wrapper {
  width: 100%;
  display: block;
  text-align: right;
  padding: 10px 0 10px 0;
}

.share-card .app-link {
  font-size: 16px;
  font-weight: bold;
}

.share-card .app-link i {
  vertical-align: top;
  }

.main-card {
  background-color: #FFFFFF;
  display: block;
  text-align: center;
  border: 2px solid #CCC;
  border-radius: 4px;
  padding: 0px 25px 15px 25px;
}

.main-button i { 
  padding: 15px 15px 0px 15px;
  color: #1CC3EA;
  font-size: 52px;
  font-weight: bold;
  opacity: 0.75;
  margin-top: 15px;
  }

  .main-button:hover i, .main-button:hover .title { 
  opacity: 0.9;
  }

.main-button .title {
  font-weight: bold;
  font-size: 17px;
  color: #333;
  opacity: 0.6;
  margin-bottom: 10px;
}

.main-card h1 {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 15px;
}

.main-card h1 i {
  color: #1CC3EA;
  font-size: 24px;
}

.full-height-card {
  height: 100%;
}

.placeholder-note {
  font-weight: bold;
  opacity: 0.6;
}

.scroll-box {
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 6px;
  box-shadow:         inset 0 0 5px #BBB;
   border-top: 2px solid #EFEFEF;
   border-bottom: 2px solid #EFEFEF;
   background-color: #F8F8F8;
}

.scroll-box md-list-item h3 {
  font-size: 16px;
  font-weight: bold;
}

.message-box {
  height: 320px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.message-box md-list-item {
  text-align: left;
}
.message-input {
  width: 80%;
  height: 30px;
  padding-left: 0;
  margin-left: 0;
  border-radius: 0px 0px 0px 4px;
  border: 3px solid #efefef;
  padding: 3px;
}

.btn-message {
  width: 20%;
  border-radius: 0px 0px 4px 0px;
  height: 30px;
  line-height: 15px;
  background-color: #1CC3EA;
  color: #FFFFFF;
}

.btn-primary {
  background-color: #1CC3EA;
  font-weight: bold;
}

.btn-share {
  float: right;
  margin-bottom: 7px;
}

.share-count {
  float: right;
}

md-list-item .md-avatar {
  border-radius: 7px !important;
}

.header-logo {
  display: inline-block;
  height: 30px;
  margin-right: 5px;
  margin-left: -55px;
}

.message-link i {
  margin-right: 4px;
}

.message-link {
  font-style: italic;
  display: block;
  border: 3px solid transparent;
  font-weight: bold;
  border-radius: 5px;
  color: #AAA;
  font-size: 16px;
  padding-bottom: 15px;
  outline: 0 !important;
}

.message-link.active {
  color: #1CC3EA;
}

.message-link:hover {
   color: #1CC3EA;
}

.section-header {
  text-align: left;
  padding: 15px 15px 0px 15px;
  font-weight: bold;
  font-size: 16px;
}

.centered-modal.in {
    display: flex !important;
}
.centered-modal .modal-dialog {
    margin: auto;
}

.modal-body .md-list-item-text p:first-child {
  font-weight: bold;
}

.modal-body .md-list-item-text p {
  font-size: 17px !important;
}

.info-button {
  float: right;
  margin-top: 10px;
}

.feed-card {
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 3px solid #efefef;
  box-shadow: 0 10px 6px -6px #d0d0d0;
}

.feed-card .card-header p {
  color: #322E0C !important;
}

.feed-card .card-header {
  border-bottom: 2px solid #EFEFEF;
  height: auto !important;
}

.card-header .left-button {
  float: left;
}

.social-icons {
  text-align: right;
  font-size: 16px;
}

.fa-instagram {
  color: #bc2a8d;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-linkedin {
  color: #0077B5;
}

.show-overflow {
  white-space: normal !important;
  text-overflow: none;
}

.instructions {
  font-size: 12px;
  color: #b9b9b9;
}

.social-profiles h3, .social-profiles p {
  font-weight: bold !important;
}

.social-profiles {
  text-align: left;
}

.settings-wrapper {
  padding-top: 10px;
}

@media (min-width: 600px) {
.settings-wrapper { 
 min-height: 300px;
}
}

.settings-wrapper h4 {
  font-weight: bold;
}

.settings-wrapper h4 .btn {
  font-size: 12px;
  padding: 0px 5px 0px 5px;
  margin-left: 5px;
}

md-switch.md-checked .md-bar {
  background-color: #1CC3EA;
}

md-switch.md-checked .md-thumb {
  background-color: #108FAD;
}