<!DOCTYPE html>
<html style="overflow-y: hidden !important">
  <head>
    <base href="/" />
    <meta charset="utf-8">
    <title>Share</title>
    <meta name="title" content="Join Advocacy Programs"/>
    <meta name="description" content="Share content, spread the word, earn rewards." />
    <meta name="viewport" content="width=device-width">
    <meta property="og:title"              content="Join Our Advocacy Team!" />
    <meta property="og:description"        content="Share content, spread the word, earn rewards." />
    <meta property="og:image"              content="https://res.cloudinary.com/fanzee/image/upload/v1513149259/share_rbhhxh.jpg" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-spinkit/build/angular-spinkit.min.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css" />
    <link rel="stylesheet" href="bower_components/ngToast/dist/ngToast.css" />
    <link rel="stylesheet" href="bower_components/ngToast/dist/ngToast-animations.min.css" />
    <link rel="stylesheet" href="bower_components/ui-cropper/compile/minified/ui-cropper.css" />
    <link rel="stylesheet" href="bower_components/videogular-themes-default/videogular.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="fanzeeShareApp">
  <toast></toast>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
   </div>
    <section layout="row" flex  class="ui-wrapper">
    <!--SPINNER -->
    <!--<md-sidenav class="md-sidenav-left" md-component-id="left"
                 md-whiteframe="3" is-locked-open="false">


      <md-content style="height: 100%" ng-controller="MenuCtrl" >
        <div class="fanzee-header">
        <mat-icon-button ng-controller="MenuCtrl" ng-click="toggleLeft()" class="pull-right">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </mat-icon-button>
        </div>
        <md-list>
  <md-list-item class="pull-left side-nav-item" ng-click="goTo('feed'); toggleLeft()">
    <md-icon class="md-avatar-icon fa fa-newspaper-o"></md-icon>
    <span>Feed</span>
  </md-list-item>
  <md-list-item class="pull-left side-nav-item" ng-click="goTo('rewards'); toggleLeft()">
    <md-icon class="md-avatar-icon fa fa-gift"></md-icon>
    <span>Rewards</span>
  </md-list-item>
  <md-list-item class="pull-left side-nav-item" ng-click="goTo('account'); toggleLeft()">
    <md-icon class="md-avatar-icon fa fa-user-o"></md-icon>
    <span>My Account</span>
  </md-list-item >
</md-list>
      </md-content>

    </md-sidenav>-->

    <md-content flex>

      <div layout="column" style="height: 100%">
           
          <div ui-view id="main-ui-view" resize></div>
          
      </div>

    </md-content>

  </section>
    
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/cloudinary-core/cloudinary-core.js"></script>
    <script src="bower_components/cloudinary_ng/js/angular.cloudinary.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/angular-base64/angular-base64.js"></script>
    <script src="bower_components/angular-storage/dist/angular-storage.js"></script>
    <script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>
    <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
    <script src="bower_components/auth0-lock/build/auth0-lock.js"></script>
    <script src="bower_components/auth0.js/build/auth0.js"></script>
    <script src="bower_components/auth0-angular/build/auth0-angular.js"></script>
    <script src="bower_components/a0-angular-storage/dist/angular-storage.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-spinkit/build/angular-spinkit.js"></script>
    <script src="bower_components/angular-mailchimp/angular-mailchimp.js"></script>
    <script src="bower_components/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
    <script src="bower_components/clipboard/dist/clipboard.js"></script>
    <script src="bower_components/ngclipboard/dist/ngclipboard.js"></script>
    <script src="bower_components/ngToast/dist/ngToast.js"></script>
    <script src="bower_components/angular-video-bg/angular-video-bg.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/ui-cropper/compile/minified/ui-cropper.js"></script>
    <script src="bower_components/videogular/videogular.js"></script>
    <script src="bower_components/videogular-controls/vg-controls.js"></script>
    <script src="bower_components/videogular-overlay-play/vg-overlay-play.js"></script>
    <script src="bower_components/videogular-buffering/vg-buffering.js"></script>
    <script src="bower_components/angular-timeago/dist/angular-timeago.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.js"></script>
    <script src="bower_components/chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="bower_components/angular-ui-router-events/index.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <!-- <script src="scripts/config.js"></script> -->
        <script src="scripts/auth0-variables.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/feed.js"></script>
        <script src="scripts/controllers/share.js"></script>
        <script src="scripts/controllers/settings.js"></script>
        <script src="scripts/controllers/rewards.js"></script>
        <!-- endbuild -->
</body>
</html>
