 <div class="modal fade centered-modal">
 	<div class="modal-dialog">
 		<div class="modal-content">
 			<div class="modal-header">
 				<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
 				<strong>
 				Add E-mail
 				</strong>
 			</div>
 		<div class="modal-body">
 				<form>
         			<div class="form-group">
            			<label for="e-mail-address" class="form-control-label">E-mail Address:</label>
            			<input type="text" class="form-control" id="e-mail-address" ng-model="emailAddress">
         		 </div>
         		 </form>
 		</div>
 	<div class="modal-footer">
 		<button type="button" ng-disabled="!emailAddress" ng-click="addEmail(emailAddress)" class="btn btn-primary" data-dismiss="modal">Add</button>
 	</div>
 </div>
</div>