<div class="view-wrapper">
  <wave-spinner ng-if="brandLoading || rewardsLoading"></wave-spinner>
  <div ng-show="!brandLoading && !rewardsLoading" layout="row" layout-align="center center">
    <div class="card main-card" center>
      <h1 class="text-center">
        <i class="fa fa-arrow-left pull-left" ng-click="go('rewards')">
        </i>
        <img class="header-logo" ng-src="{{selectedBrand.photo}}"/> 
        <span ng-show="!showMessages">
          Rewards
        </span>
        <span ng-show="showMessages">
          Messages
        </span>
        
      </h1>
      <div class="row">
        <div class="col-md-6">
          <span class="message-link" ng-click="toggleMessages()" ng-class="{'active': !showMessages}">
            <i class="fa fa-gift">
            </i>
            View Rewards
          </span>
        </div>
        <div class="col-md-6">
          <span class="message-link" ng-click="toggleMessages()" ng-class="{'active': showMessages}">
            <i class="fa fa-comments">
            </i>
            View Messages
          </span>
        </div>
      </div>
      <p class="placeholder-note" ng-hide="brands.length">
        You haven't joined any advocacy programs yet
      </p>
      <div class="scroll-box rewards-box" ng-hide="showMessages">
        <div class="section-header">
          My Rewards
        </div>
        <md-list> 
          <md-list-item  ng-repeat="reward in userRewards" class="md-2-line" ng-click="openRewardModal(reward, true)">
            <img class="md-avatar" ng-src= {{reward.image}} on-error-src= "images/reward.png" ng-if="reward.image">
            <img class="md-avatar"  ng-if="!reward.image" src= "images/reward.png">
            <div class="md-list-item-text" layout="column">
              <p><strong>{{reward.name}}</strong></p>
              <p>{{rewardString(reward)}}</p>
            </div>
          </md-list-item>
        </md-list>
        <div class="rewards-placeholder" ng-show="(userRewards | numKeys) < 1">
          You haven't earned any rewards yet.  Share some content to earn points, win contests, and unlock rewards!
        </div>
        <div class="section-header">
          Available Rewards
        </div>
        <md-list>
          <md-list-item ng-repeat="reward in rewards" class="md-2-line" ng-show="reward.active" ng-click="openRewardModal(reward, false)">
            <img class="md-avatar" ng-src= {{reward.image}} on-error-src= "images/reward.png" ng-if="reward.image">
            <img class="md-avatar" ng-if="!reward.image" src= "images/reward.png">
            <div class="md-list-item-text" layout="column">
              <p><strong>{{reward.name}}</strong></p>
              <p>{{rewardString(reward)}}</p>
            </div>
          </md-list-item>
        </md-list>
        <div class="rewards-placeholder" ng-show="!rewards.length">
          This company hasn't added any rewards yet. 
        </div>
      </div>
      <div ng-show="showMessages">
        <div scroll-glue class="message-box scroll-box">
          <md-list scroll-glue>
            <md-list-item ng-repeat="message in messagesArray" class="md-2-line"><img ng-src="{{message.image}}" err-src="images/empty_profile.jpg" class="md-avatar">
              <div class="md-list-item-text" layout="column">
                <h3><strong>{{ message.from }}</strong></h3>
                <p><strong>{{ message.content }}</strong></p>
              </div>
            </md-list-item>
          </md-list>
        </div>
      </div>
      <div ng-show="showMessages">
        <input class="message-input" type="text" placeholder="Type your message here" ng-model="message.text">
        <button class="btn btn-message btn-blue pull-right" ng-click="sendMessage()"><strong> <i class="fa fa-arrow-right"></i></strong></button>
      </div>
      <button type="button" ng-click="openInfoModal()" class="btn btn-primary info-button" data-dismiss="modal"><i class="fa fa-question"></i></button>
    </div>
  </div>
</div>