<div class="view-wrapper">
  <wave-spinner ng-if="feedLoading"></wave-spinner>
  <div ng-show="!feedLoading" layout="row" layout-align="center center">
    <div class="card main-card" center>
      <h1>
      <i class="fa fa-home pull-left" ng-click="go('main')">
      </i>
        My Feed
      </h1>
      <p class="placeholder-note" ng-if="!drafts.length">
        There is no content here.  Check back later.  
      </p>
      <div ng-if="drafts.length" class="scroll-box">
        <div ng-repeat="draft in drafts | orderBy : '-time'" class="card feed-card" >
         <div class="card-header">
         <md-list-item class="md-2-line">
          <img ng-src="{{draft.brand_logo}}"  err-src="images/empty_profile.jpg" class="md-avatar">
          <div class="md-list-item-text">
          <p><strong>{{draft.brand_name}}</strong></p>
          <p>{{draft.time | timeAgo}}</p>
          </div>
        </md-list-item>
         </div>
        	 <div class="card-body">
          <div class="card-top" ng-click="contentClick()">
            <h4 class="card-title">{{draft.title}}</h4>
            <div class="image-wrapper" ng-show="draft.image || draft.og_image">
              <img class="card-img-top" ng-src="{{draft.image || draft.og_image}}">
            </div>
            <p class="card-text">{{draft.details}}</p>
            <p class="card-link" ng-show="draft.long_url">{{draft.long_url}}</p>
          </div>
          <div class="social-icons">
          	<span ng-repeat="platform in draft.platforms">
          	<i class="fa fa-{{platform}}">
          	</i>
          	</span>
          </div>
          <div class="share-buttons">
            <button class="btn btn-primary btn-share" ng-click="go('share', {brandId: draft.brand_id, sourceType: 'id', sourceData: draft.request_id || draft.$id})" ng-style="selectedPlatform.color">
              <i class="fa fa-share"></i>&nbsp;Share
            </button>
          </div>
      </div>
        </div>
      </div>
      <button type="button" ng-click="openInfoModal()" class="btn btn-primary info-button" data-dismiss="modal"><i class="fa fa-question"></i></button>
    </div>
  </div>
</div> 