 <div class="modal fade centered-modal">
 	<div class="modal-dialog">
 		<div class="modal-content">
 			<div class="modal-header">
 				<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
 				<strong>
 				FAQ
 				</strong>
 			</div>
 			<div class="modal-body">
 				<p><strong>What is all of this?</strong></p>
 				<p>This is Fanzee social media advocacy.&nbsp; You were probably invited to join by a particular brand or community.&nbsp; Through this platform, you can earn rewards by sharing content to your social media accounts.&nbsp; Just share content that interests you to Facebook, Twitter, LinkedIn, or Instagram, and you're on your way to unlocking rewards!&nbsp;</p>
 				<p><strong>Where do I find content to share?</strong></p>
 				<p>Once invited to an advocacy program, you will find any content ready to share in your Feed, sent to your inbox, or sometimes the brand/community will distribute content by their own medium.&nbsp; To find out more about a specific program, navigate to the Rewards &amp; Messages section and send a message to whichever brand or community interests you.</p>
 				<p><strong>How do I earn rewards?</strong></p>
 				<p><span style="color: #333333;">Rewards are unlocked by sharing content to your personal social media accounts.&nbsp; Posting content to your followers, generating clicks on content, creating engagement, and more impact how many points you earn so share frequently and try to share quality content! Include hashtags or other elements requested by the brand to earn more points!</span></p>
 				<p><strong><span style="color: #333333;">How do I find out what to do for a specific reward?</span></strong></p>
 				<ul>
 					<li><span style="color: #333333;">&nbsp;Navigate to the Rewards &amp; Messages area and select which brand or community you want to earn rewards from.</span></li>
 					<li><span style="color: #333333;">Once in the rewards section, browse the available rewards and click one that interests you.&nbsp; The resulting dialog will describe the reward and how you can earn it!</span></li>
 				</ul>
 				<p><strong>Why are my points different for each reward?</strong></p>
 				<p><span style="color: #333333;">The points you've earned toward each reward starts at 0 when the reward is created by the brand.&nbsp; So if you see a new reward you want to unlock, keep sharing!&nbsp; When you reach the points required to unlock a reward, that reward will automatically be unlocked for you.&nbsp; You can see your progress toward unlocking a reward by clicking it.</span></p>
 				<p><strong><span style="color: #333333;">I've unlocked a reward, but haven't received it</span></strong></p>
 				<p><span style="color: #333333;">If you have unlocked a reward, but haven't received it, simply navigate to the Rewards &amp; Messages section, click "View Messages" and send a message to the brand.&nbsp; Their advocacy team will respond to you as quickly as possible.&nbsp;&nbsp;</span></p>
 				<p><strong><span style="color: #333333;">Why do I have to log in to share?</span></strong></p>
 				<p><span style="color: #333333;">Logging in and sharing through this widget enables us to keep track of how effectively your post reaches other people.&nbsp; We will never post any content you don't specifically choose to post yourself.&nbsp;&nbsp;</span></p>
 			</div>
 		</div>
 	</div>
 </div>