<div class="container-fluid view-padded">
	<wave-spinner ng-show="loading"></wave-spinner>
	<div ng-if="!loading && loggedIn" ng-controller="BrandLoginCtrl" data-ng-init="connectCheck()" layout="row" layout-align="center center">
	<div center class="brand-data card">
	<img ng-src="{{brand.logo}}"/>
		<h3>
			<i class="fa fa-check-square-o">
			</i>
			<span>
			Thanks for signing up!
			</span>
		</h3>
		<span ng-show="!brand.widget_messages.welcome">
		<p>
			You're now part of the {{brand.name}} advocacy team!  Keep an eye on your inbox for content to share.
		</p>
		</span>
		<span ng-show="brand.widget_messages.welcome">
		<p>
			{{brand.widget_messages.welcome}}
		</p>
		</span>
	</div>
	</div>
	<div ng-if="!loading && !loggedIn && brand">
		<div layout="row" layout-align="center center">
			<div center class="brand-data card">
				<img ng-src="{{brand.logo}}"/>
				<span ng-show="!brand.widget_messages.signup">
				<h3>
					Welcome to {{brand.name}} advocacy!  Share our content to earn rewards and prizes.
				</h3>
				</span>
				<span ng-show="brand.widget_messages.signup">
				<h3>
					{{brand.widget_messages.signup}}
				</h3>
				</span>
				<p>
					{{brand.name}} advocacy is powered by Fanzee, please sign up with a social provider.
				</p>
				<button ng-click="signin()" class="btn btn-lg btn-primary">
					Okay, I'm ready!
				</button>
				<div class="app-link-wrapper">
				<a class="app-link" ng-href="{{brand.mobileLink}}"><i class="fa fa-mobile"></i> Download the App</a>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="!loading && !loggedIn && !brand">
		<div layout="row" layout-align="center center">
			<div center class="brand-data card">
				<h3>
					Please login or sign up to view this page.
				</h3>
				<p>
					If you are attempting to join the advocacy team of a specific organization, please contact them for their unique link.  If you are already a member, login below.
				</p>
				<button ng-click="signin()" class="btn btn-lg btn-primary" style="margin-bottom: 15px">
					Login
				</button>
			</div>
		</div>
	</div>
</div>
