<div class="container-fluid view-padded">
	<div center class="main-card card">
		<h1>
			My Advocacy Home
		</h1>
		<div class="row">
			<div class="col-md-6">
				<div class="main-button" title="Find content to share" ng-click="go('feed')">
					<i class="fa fa-newspaper-o"></i>
					<div class="title">
						Feed
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="main-button" title="Discover rewards to unlock & send/receive messages"  ng-click="go('rewards')">
					<i class="fa fa-gift"></i>
					<div class="title">
						Rewards &amp; Messages
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="main-button" title="Manage your account settings" ng-click="go('settings')">
					<i class="fa fa-cogs"></i>
					<div class="title">
						Settings
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="main-button" title="Learn more" ng-click="openInfoModal()">
					<i class="fa fa-question"></i>
					<div class="title">
						FAQ
					</div>
				</div>
			</div>
		</div>
	</div>