 <div class="modal fade centered-modal">
 	<div class="modal-dialog">
 		<div class="modal-content">
 			<div class="modal-header">
 				<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
 				<md-list-item>
 					<img class="md-avatar" ng-src= {{selectedReward.image}} on-error-src= "images/reward.png" ng-if="selectedReward.image">
 					<img class="md-avatar"  ng-if="!selectedReward.image" src= "images/reward.png">
 					<p>{{selectedReward.name}}</p>
 				</md-list-item>
 			</div>
 			<div class="modal-body">
 				<md-list>
 					<md-list-item  class="md-2-line" ng-show="!selectedReward.isUnlocked">
 						<div class="md-list-item-text" layout="column">
 							<p>Reward Unlocked By</p>
 							<p>{{requirementString}}</p>
 						</div>
 					</md-list-item>
 					<md-list-item  class="md-2-line" ng-show="selectedReward.isUnlocked">
 						<div class="md-list-item-text" layout="column">
 							<p>Reward Unlocked!</p>
 							<p>{{selectedReward.claim_text}}</p>
 						</div>
 					</md-list-item>
 				</md-list>
 				<div class="row">
 					<div class="col-md-6">
 						<md-list>
 							<md-list-item class="md-2-line" ng-show="selectedReward.claim_link && selectedReward.isUnlocked" ng-href="{{selectedReward.claim_link}}" target="_blank">
 								<div class="md-list-item-text" layout="column">
 									<p>Link</p>
 									<p>Click here</p>
 								</div>
 							</md-list-item>
 							<md-list-item class="md-2-line" ng-show="selectedReward.isUnlocked && !selectedReward.claim_link">
 								<div class="md-list-item-text" layout="column">
 									<p>Link</p>
 									<p>N/A</p>
 								</div>
 							</md-list-item>
 							<md-list-item class="md-2-line" ng-show="!selectedReward.isUnlocked" ng-click="">
 								<div class="md-list-item-text" layout="column">
 									<p>Link</p>
 									<p>Hidden</p>
 								</div>
 							</md-list-item>
 							<md-list-item class="md-2-line" ng-show="selectedReward.discount_code && selectedReward.isUnlocked" ngclipboard data-clipboard-text="{{selectedReward.discount_code}}" ng-click="copiedAlert()">
 								<div class="md-list-item-text" layout="column">
 									<p>Code</p>
 									<p>{{selectedReward.discount_code}}</p>
 								</div>
 							</md-list-item>
 							<md-list-item class="md-2-line" ng-click=" " ng-show="selectedReward.isUnlocked && !selectedReward.discount_code">
 								<div class="md-list-item-text" layout="column">
 									<p>Code</p>
 									<p>N/A</p>
 								</div>
 							</md-list-item>
 							<md-list-item class="md-2-line" ng-show="!selectedReward.isUnlocked" ng-click="">
 								<div class="md-list-item-text" layout="column">
 									<p>Code</p>
 									<p>Hidden</p>
 								</div>
 							</md-list-item>
 						</md-list>
 					</div>
 					<div class="col-md-6">
 						<md-list>
 							<md-list-item class="md-2-line">
 								<div class="md-list-item-text" layout="column">
 									<p>Status</p>
 									<p>
 									<span ng-show="selectedReward.active && !selectedReward.isUnlocked">Active</span>
 									<span ng-show="!selectedReward.active && !selectedReward.isUnlocked">Ended</span>
 									<span ng-show="selectedReward.isUnlocked">Unlocked</span>
 									</p>
 								</div>
 							</md-list-item>
 							<md-list-item class="md-2-line" ng-show="selectedReward.type === 'CONTEST'" ng-click="showLeaderboard(selectedReward.leaderboard_ref)">
 								<div class="md-list-item-text" layout="column">
 									<p>My Rank</p>
 									<p>{{numberSuffix(selectedReward.rank)}}</p>
 								</div>
 							</md-list-item>
 							<md-list-item class="md-2-line" ng-show="selectedReward.type === 'CONTEST'" ng-click="showLeaderboard(selectedReward.leaderboard_ref)">
 								<div class="md-list-item-text" layout="column">
 									<p>Winners</p>
 									<p>Top {{selectedReward.top_n | number}}</p>
 								</div>
 							</md-list-item>
 							<md-list-item class="md-2-line" ng-show="selectedReward.type === 'POINTS'" ng-click="showLeaderboard(selectedReward.leaderboard_ref)">
 								<div class="md-list-item-text" layout="column">
 									<p>My Points</p>
 									<p>{{selectedReward.current_points | number}}</p>
 								</div>
 							</md-list-item>
 							<md-list-item class="md-2-line" ng-show="selectedReward.type === 'POINTS'">
 								<div class="md-list-item-text" layout="column">
 									<p>To Unlock</p>
 									<p>{{selectedReward.points_thresh | number}}</p>
 								</div>
 							</md-list-item>
 						</md-list>
 					</div>
 				</div>
 			</div>
 			<div class="modal-footer">
 				<button type="button" ng-click="openInfoModal()" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-question"></i></button>
 			</div>
 		</div>
 	</div>
 </div>