<div class="view-wrapper">
  <wave-spinner ng-if="brandsLoading"></wave-spinner>
  <div ng-show="!brandsLoading" layout="row" layout-align="center center">
    <div class="card main-card" center>
      <h1>
      <i class="fa fa-home pull-left" ng-click="go('main')">
      </i>
        My Advocacy Programs
      </h1>
      <p class="placeholder-note" ng-hide="brands.length">
        You haven't joined any advocacy programs yet
      </p>
      <div class="scroll-box">
      <md-list>
        <md-list-item ng-repeat="brand in brands" class="list-item" ng-click="go('brand-detail', {brandId: brand.brand_id})">
          <img ng-src="{{brand.brand_photo}}" class="md-avatar"/>
          <h3>
          {{brand.brand_name}}
          </h3>
        </md-list-item>
      </md-list>
      </div>
      <button type="button" ng-click="openInfoModal()" class="btn btn-primary info-button" data-dismiss="modal"><i class="fa fa-question"></i></button>
    </div>
  </div>
</div>