<div class="view-wrapper">
  <wave-spinner ng-if="profileLoading"></wave-spinner>
  <div ng-show="!profileLoading" layout="row" layout-align="center center">
    <div class="card main-card" center>
      <h1>
        <i class="fa fa-home pull-left" ng-click="go('main')">
        </i>
        Settings
      </h1>
      <div classs="row">
      <div class="settings-wrapper">
      <div class="col-md-6">
      <h4>
      Linked Accounts
      </h4>
      <md-list class="social-profiles">
        <md-list-item class="md-2-line">
          <img ng-src="{{facebook.photo}}" class="md-avatar"/>
          <div class="md-list-item-text">
            <h3>
              {{facebook.name}}
            </h3>
            <p>
              {{facebook.followers}} friends
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <img ng-src="{{twitter.photo}}" class="md-avatar"/>
          <div class="md-list-item-text">
            <h3>
              {{twitter.name}}
            </h3>
            <p>
              {{twitter.followers}} followers
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <img ng-src="{{instagram.photo}}" class="md-avatar"/>
          <div class="md-list-item-text">
            <h3>
              {{instagram.name}}
            </h3>
            <p>
              {{instagram.followers}} followers
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <img ng-src="{{linkedin.photo}}" class="md-avatar"/>
          <div class="md-list-item-text">
            <h3>
              {{linkedin.name}}
            </h3>
            <p>
              {{linkedin.followers}} connections
            </p>
          </div>
        </md-list-item>
      </md-list>
      <button type="button" ng-hide="isTwitter && isInstagram && isFacebook && isTwitter" ng-click="addPlatform()" class="btn btn-primary" data-dismiss="modal">Link New Account</button>
      </div>
      <div class="col-md-6">
      <div class="settings-wrapper">
      <h4>
      My E-mails <button type="button" ng-click="openEmailModal()" class="btn btn-primary" data-dismiss="modal">
        <i class="fa fa-plus">
        </i>
      </button>
      </h4>
      <md-switch title="Send alerts to this e-mail address" ng-repeat="email in userEmails" aria-label="email switch" ng-model="email.isActive" ng-change="updateSettings(userEmails)">
        {{email.address}}
  </md-switch>
      <h4>
      Alerts
      </h4>
      <md-switch title="Send me e-mails when new rewards are available or I unlock a reward" ng-model="userSettings.reward_emails" ng-change="updateSettings(userSettings)">
        New &amp; Unlocked Rewards
  </md-switch>
  <md-switch title="Send me e-mails when new content is available to share" ng-model="userSettings.content_emails" ng-change="updateSettings(userSettings)">
        New Content
  </md-switch>
  <md-switch title="Send me e-mails when I get a message from a rewards program" ng-model="userSettings.message_emails" ng-change="updateSettings(userSettings)">
        Messages
  </md-switch>
  <md-switch title="Send me e-mails to update me on my progress toward rewards" ng-model="userSettings.progress_emails" ng-change="updateSettings(userSettings)">
        Progress Reports
  </md-switch>
      </div>
      </div>
      </div>
          <button type="button" ng-click="openInfoModal()" class="btn btn-primary info-button" data-dismiss="modal"><i class="fa fa-question"></i></button>
    </div>
  </div>
</div>