<div class="view-wrapper">
  <wave-spinner ng-if="draftLoading"></wave-spinner>
  <div ng-show="!draftLoading" layout="row" layout-align="center center">
    <div class="card share-card" center height-adjust="50">
      <div class="card-header" ng-style="selectedPlatform.color">
        <md-list-item>
          <img ng-show="isPlatform(selectedPlatform.name)" ng-src="{{selectedPlatform.data.photo}}"  err-src="images/empty_profile.jpg" class="md-avatar">
          <img ng-show="!isPlatform(selectedPlatform.name)" src="images/empty_profile.jpg" class="md-avatar">
          <p ng-show="isPlatform(selectedPlatform.name)">{{selectedPlatform.data.name}}</p>
          <p ng-show="!isPlatform(selectedPlatform.name)">No Account Linked</p>
          <md-input-container>
            <md-select ng-model="selectedPlatform.name">
              <md-option ng-click="setPlatform(platform)" ng-repeat="platform in draft.platforms" value="{{platform}}">
                <i class="fa fa-{{platform}}"></i> {{platform | capitalize}}
              </md-option>
            </md-select>
          </md-input-container>
        </md-list-item>
      </div> 
      <div class="card-body">
        <span ng-show="isPlatform(selectedPlatform.name) && !instagramSelected">
          <div class="card-top" ng-click="contentClick()">
            <h4 class="card-title">{{draft.title}}</h4>
            <div class="image-wrapper" ng-show="draft.image || draft.og_image">
              <img class="card-img-top" ng-src="{{draft.image || draft.og_image}}">
            </div>
            <p class="card-text">{{draft.details}}</p>
            <p class="card-link" ng-show="draft.long_url">{{draft.long_url}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" ng-show="draft.hashtags">
              <h3>Hashtags <span class="instructions">Click to add to post</span></h3>
              <button ng-click="addToPost(hashtag)" ng-repeat="hashtag in draft.hashtags" class="btn btn-primary btn-sm" ng-style="selectedPlatform.color">{{hashtag}}</button>
            </li>
            <li class="list-group-item" ng-show="draft.mentions">
              <h3>Tags</h3>
              <button ng-click="addToPost(mention)" ng-repeat="mention in draft.mentions" class="btn btn-primary btn-sm" ng-style="selectedPlatform.color">{{mention}}</button>
            </li>
          </ul>
          <textarea rows="4" name="field" ng-model="draft.text" placeholder="Click buttons above to copy into post or type here. The link will automatically be added to your post. . ." ng-change="linkPrefix(draft.text)"></textarea>
          <div class="share-buttons">
            <span class="char-count" ng-show="selectedPlatform.name === 'twitter'" ng-class="{'danger' : draft.text.length + draft.short_url.length + 1 > 140}">
              {{draft.text.length + draft.short_url.length + 1}}
            </span>
            <button class="btn btn-primary btn-share" ng-click="share(selectedPlatform.name, draft)" ng-style="selectedPlatform.color">
              <i class="fa fa-{{selectedPlatform.name}}"></i>&nbsp;Share
            </button>
          </div>
        </span>
        <span ng-show="!isPlatform(selectedPlatform.name)">
          <div class="card-top text-center">
            <h4 class="card-title show-overflow">No {{selectedPlatform.name | capitalize}} account linked</h4>
            <button class="btn btn-primary" style="font-weight: bold" ng-style="selectedPlatform.color" ng-click="addPlatform(selectedPlatform.name)">
              Link Account
            </button>
          </div>
        </span>
       <span ng-show="instagramSelected">
          <div class="card-top text-center">
            <h4 class="card-title show-overflow">You must use the Fanzee mobile app to share to Instagram</h4>
            <a class="btn btn-primary" style="font-weight: bold" ng-style="selectedPlatform.color" ng-href="{{brand.mobileLink}}">
              Download App
            </a>
          </div>
        </span>
        <div class="card-footer">
        <div class="row">
        <div class="col col-md-3 text-center">
          <span ng-click="go('main')">
            <i class="fa fa-home">
            </i>
            Home
          </span>
          </div>
          <div class="col col-md-3 text-center">
          <span ng-click="go('feed')">
            <i class="fa fa-newspaper-o">
            </i>
            Feed
          </span>
          </div>
          <div class="col col-md-3 text-center">
          <span ng-click="openInfoModal()">
            <i class="fa fa-question">
            </i>
            FAQ
          </span>
          </div>
          <div class="col col-md-3 text-center">
          <span>
             <a class="app-link" ng-href="{{brand.mobileLink}}"><i class="fa fa-mobile"></i> Download</a>
          </span>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>